.container
    box-sizing: border-box
    padding: 0 80px
    
.container-small
    box-sizing: border-box
    padding: 0 160px

.button
    margin: 23px
    background-color: $component-background-color
    border: none
    box-shadow: 1px 1px 18px 4px rgba(255, 153, 0, 0.32)
    padding: 11px
    box-sizing: border-box
    border-radius: 0
    color: $component-text-color
    font-size: 16px
    font-weight: 700
    line-height: 19.34px
    font-style: normal
    font-family: $main-text-font
    cursor: pointer
    outline: none

.button.white
    color: $text-color-black
    background-color: white
    box-shadow: none

.button.outline
    border: 2px solid $component-background-color
    color: $component-text-color-secondary
    background-color: transparent
    box-shadow: none

.title
    text-transform: uppercase
    font-weight: 400
    font-size: 18px
    letter-spacing: 9.7px
    line-height: 25px
    font-style: normal
    color: $secondary-text-color

.subtitle
    font-family: $main-title-font
    font-style: normal
    font-size: 40px
    line-height: 55.76px
    letter-spacing: 0.2px
    margin-bottom: 27px

.subtitle.light
    color: $main-text-color