.button
    margin: 23px
    background-color: $component-background-color
    border: none
    box-shadow: 1px 1px 18px 4px rgba(255, 153, 0, 0.32)
    padding: 11px
    box-sizing: border-box
    border-radius: 0
    color: $component-text-color
    font-size: 16px
    font-weight: 700
    line-height: 19.34px
    font-style: normal
    font-family: $main-text-font
    cursor: pointer
