// FONTS

$main-text-font: "Gilroy", sans-serif
$main-title-font: "Playfair Display", serif

// COLORS

$main-text-color: white
$component-background-color: #FF9900
$component-text-color: #FFFFFF
$component-text-color-secondary: #FF9900
$secondary-text-color: #FF9900